$black: #04060f !default;
$connect-huge-dark: #03353E;
$connect: #0294A5;
$connect-dark: #01778a;
$connect-light: #81cad2;
$red: #C1403D;
$grey: #A79C93;
$success: #27d4ff;

$light-black: rgba(0, 0, 0, 0.7);
$light-white: #fdf9f9;
$light-grey:#9E9E9E;
