.img-container{
  background-image: linear-gradient(
      to right bottom,
      rgba(#0294A5,0.1),
      rgba(#78D6AC ,0.1) ),url("../../assets/people-3295555.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
